html {
    font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #root {
    height: 100%;
  }
  
  /* Layout */
  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
    background-color: #2a4158;
  }
  header {
    grid-area: header;
    background-color: #203040;
  }
  main {
    grid-area: main;
    padding: 1rem;
    background-color: #2a4158;
  }
  footer {
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
  }
  /* Common */
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    color: #ff8000;
  }
  
  /* Header */
  header a {
    color: #ce1f1f;
    padding: 1.5rem;
  }
  a.brand {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
  }
  a.brand:hover {
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(83, 74, 133), rgb(37, 37, 182));   -webkit-background-clip: text;
    color: transparent;
    font-size: 3.5rem;
    font-weight: bold;
  }

  a.register{
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
  }
  a.register:hover {
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(83, 74, 133), rgb(37, 37, 182));   -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    font-weight: bold;
  }
  a.signin{
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
  }
  a.signin:hover {
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(83, 74, 133), rgb(37, 37, 182));   -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .row.center {
    justify-content: center;
  }
  /* Image */
  img {
    height: 30rem;
    width: 20rem;
    border-radius: 0.5rem;
  }
  img:hover {
    height: 35rem;
    width: 25rem;
    border-radius: 0.5rem;
  }
  img.medium {
    max-width: 29rem;
    width: 100%;
  }
  
  /* Card */
  .card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
  }

  .card-body {
    padding: 1rem;
  }
  .card-body > * {
    margin-bottom: 0.5rem;
  }
  .price {
    font-size: 2rem;
  }
  
  .game-name{
    color: #241747;
    font-size: 2rem;
    font-weight: bold;
  }

  .game-name:hover {
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(83, 74, 133), rgb(37, 37, 182));   -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    font-weight: bold;
  }

  
  /* Rating */
  .rating span {
    color: #f0c040;
    margin: 0.1rem;
  }