/* .container {
    max-width: 40%;
    margin: 60px auto;
    overflow: auto;
    min-height: 300px;
    border: none;
    padding: 60px;
    border-radius: 5px;
  }
  
  .container-form {
    max-width: 40%;
    margin: 20px auto;
    overflow: auto;
    min-height: 300px;
    border: none;
    padding: 10px;
  }
  
  .container-right{
    float: right;
    margin-right: 60px;
    max-width: 40%;
    padding: 60px;
    text-align: center;
    
  }
  .container-deta{
    max-width: 70%;
    margin: 20px auto;
    overflow: auto;
    min-height: 300px;
    box-shadow:0px 0px 12px 2px rgb(15, 15, 15, 0.2);
    padding: 20px;
    border-radius: 5px;
  }
  
  .container-top{
    float:none;
    margin: 20 auto;
    text-align: center;
  }
  
  .container-title{
    text-align: center;
    padding-bottom: 10px;
  }
  
  .container-creator{
    text-align: left;
    padding-bottom: 5px;
  }
  
  .container-desc{
    padding-left: 10%;
  }
  
  .container-desc-container{
    box-shadow:0px 0px 12px 2px rgb(15, 15, 15, 0.2);
  }
  
  .container-footer{
    padding-top: 10px;
    text-align: center;
  }
  
  .border-bottom{
    border-bottom: black;
    border-spacing: 15px;
  }
  
  .card-pos{
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px
  }
  
  .add-form {
    margin-bottom: 40px;
  }
  
  .form-control {
    margin: 20px 0;
  }
  
  .form-control label {
    display: block;
  }
  
  .form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  
  .form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .form-control-check label {
    flex: 1;
  }
  
  .form-control-check input {
    flex: 2;
    height: 20px;
  }
  
  .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .img-event{
    margin: 5px auto;
    display: block;
  }
  
  .button-danger {
    display: inline-block;
    background: rgb(253, 92, 92);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="number"],
  input[type="date"],
  textarea,
  select {
    width: 400px;
  }
  
  label {
    margin-top: 1rem;
  }
  
  label.checkbox {
    font-weight: normal;
  }
  
  button[type="submit"] {
    margin-top: 1rem;
  } */