/* FOOTER */
footer{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #101010;
    padding: 100px 0 0;
    /* margin-top: 800px; */
}

footer h6{
    font-size: 16px;
    color: #ec7532;
    margin: 0;
    padding-bottom: 20px;
    border: none;  
    letter-spacing: 2px;
    text-transform: uppercase;
}

footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li a{
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #fff;
    padding: 3px 0;
    transition: all .5s;
}

footer .fab{
    display: inline-block;
    color: rgba(255,255,255,.3);
    width: 25px;
    transition: all .5s;
}

footer ul li a:hover .fab{
    color: #fbbd61;
}

footer ul li a:hover{
    color: #fbbd61;
    text-decoration: none;
}

.copyright{
    margin-top: 50px;
    padding: 20px 0;
    border-top: 1px solid rgba(255,255,255,.1);
}

.copyright a{
    color: #fff;
    transition: all .5s;
}

.copyright a:hover{
    color: #ec7532;
    text-decoration: none;
}